*~
*.elc
elpa
eshell
recentf
savehist
auto-save-list
saveplace
emojis
emacs/.emacs.d/url/*
emacs/.emacs.d/irony
network-security.data
ido.last
games
emms
.last-package-update-day
scheme-interp.el
secret.el
bookmarks
smex-items
emacs/.emacs.d/diary
emacs/.emacs.d/modules/siraben-mu4e.el
.DS_Store
